<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="6.0.1" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Binding" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" requireReinstallation="true" />
  <package id="MvvmCross.Core" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" requireReinstallation="true" />
  <package id="MvvmCross.Platform" version="5.7.0" targetFramework="portable45-net45+win8+wpa81" requireReinstallation="true" />
  <package id="MvvmCross.Plugin.Json" version="5.7.0" targetFramework="portable46-net451+win81" requireReinstallation="true" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.4.0" targetFramework="portable46-net451+win81" requireReinstallation="true" />
  <package id="MvvmCross.StarterPack" version="4.4.0" targetFramework="portable46-net451+win81" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable46-net451+win81" requireReinstallation="true" />
  <package id="sqlite-net-pcl" version="1.1.2" targetFramework="portable46-net451+win81" requireReinstallation="true" />
  <package id="SQLitePCL.bundle_green" version="0.9.2" targetFramework="portable46-net451+win81" requireReinstallation="true" />
  <package id="SQLitePCL.raw" version="0.9.2" targetFramework="portable46-net451+win81" requireReinstallation="true" />
</packages>